// overwrite bootstrap variables here
//$light: #ffffff

@import "~bootstrap/scss/bootstrap"

// overwrite bootstrap classes, add sass here

html
  body
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

main
  @media screen and (min-width: 640px)
    width: 640px
    margin: auto

table
  text-align: right
  white-space: nowrap
  font-size: 0.61rem
  @media screen and (min-width: 360px)
    font-size: 0.72rem
  @media screen and (min-width: 375px)
    font-size: 0.78rem
  @media screen and (min-width: 411px)  
    font-size: 0.89rem
  @media screen and (min-width: 430px)  
    font-size: 1rem
      

h1
  font-size: 1.25rem
  @media screen and (max-width: 399px)
    font-size: 1rem